<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
<!-- <script type="text/javascript" 
src="/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js"></script> -->
<!-- banner start -->

<div class="columns">
<div class='carousel carousel-animated carousel-animate-slide'>
  <div class='carousel-container'>
    <div *ngFor="let banner of bgImageListArray" 
    class='carousel-item has-background is-active'>
<img src="{{banner.imagePath}}"/>
    </div> 
    <!-- <div class='carousel-item has-background is-active'>
      <img class="is-background" src="https://wikiki.github.io/images/life.jpg" 
      alt="" width="640" height="310" />
      <div class="title">Merry Christmas</div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/singer.jpg" 
      alt="" width="640" height="310" />
      <div class="title">Original Gift: Offer a song with 
        <a href="https://lasongbox.com" target="_blank">La Song Box
        </a>
      </div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/sushi.jpg" 
      alt="" width="640" height="310" />
      <div class="title">Sushi time</div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="https://wikiki.github.io/images/merry-christmas.jpg"
       alt="" width="640" height="310" />
      <div class="title">Life</div>
    </div> -->
  </div>
  <div class="carousel-navigation">
    <div class="carousel-nav-left"> 
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
</div>
<!-- banner end -->
<!-- center div start -->
<div class="columns">
    <div class="column">
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tweets</p>
        <p class="title is-size-7-mobile">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Following</p>
        <p class="title is-size-7-mobile">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title is-size-7-mobile">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title is-size-7-mobile">789</p>
      </div>
    </div>
  </nav>
</div>
</div>
<!-- center div end -->
<!-- nav tab start -->
<div class="container"> 
<div class="columns"> 
<div class="column is-12 has-background-danger">
<h1 class="has-text-white has-text-weight-bold">
  This is tabs examples in bulma (this block using column is-12)
</h1>
</div>
</div>
    <div class="tabs is-toggle is-centered tabs-toggle-link-hover-background-color" 
    id="tabs">
    <ul>
      <li class="is-active" data-tab="1">
        <a>
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Pictures</span>
        </a>
      </li>
      <li data-tab="2">
        <a>
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Music</span>
        </a>
      </li>
      <li data-tab="3">
        <a>
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>Videos</span>
        </a>
      </li>
      <li data-tab="4">
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Documents</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="tab-content" class="is-centered">
      <div class="container">
    <div class="is-active tabscustom has-background-warning hero-body hero-buttons" data-content="1">
    <p>
      This outer space using "hero-body"
      and hero-buttons using magin top space
    </p>
  </div>
  <div class="tabscustom has-background-warning hero-body hero-buttons" data-content="2">
    <p>
      Music
    </p>
    </div>
    <div class="tabscustom has-background-warning hero-body hero-buttons" data-content="3">
    <p>
      Videos
    </p>
    </div>
    <div class="tabscustom has-background-warning hero-body  hero-buttons" data-content="4">
    <p>
      Documents
    </p>
    </div>
  </div>
  </div>
<!-- nav tab end -->

<!-- nav tab verticall start -->
<div class="columns"> 
    <div class="column is-12 has-background-danger">
    <h1 class="has-text-white has-text-weight-bold">
      This is tabs verticall examples in bulma (this block using column is-12)
    </h1>
    </div>
    </div>
    <div class="columns">
        <div class="tabs verticall_tab is-toggle is-centered tabs-toggle-link-hover-background-color is-2 column" 
        id="tabs">
        <ul>
          <li class="is-active" data-tab="11">
            <a>
              <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
              <span>verticall one</span>
            </a>
          </li>
          <li data-tab="12">
            <a>
              <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
              <span>verticall two</span>
            </a>
          </li>
          <li data-tab="13">
            <a>
              <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
              <span>verticall three</span>
            </a>
          </li>
          <li data-tab="14">
            <a>
              <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
              <span>verticall four</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="tab-content" class="is-centered is-12 column">
          <div class="container">
        <div class="is-active tabscustom has-background-warning hero-body hero-buttons" data-content="11">
        <p>
            verticall one content
        </p>
      </div>
      <div class="tabscustom has-background-warning hero-body hero-buttons" data-content="12">
        <p>
            verticall two content
        </p>
        </div>
        <div class="tabscustom has-background-warning hero-body hero-buttons" data-content="13">
        <p>
            verticall three content
        </p>
        </div>
        <div class="tabscustom has-background-warning hero-body  hero-buttons" data-content="14">
        <p>
            verticall four content
        </p>
        </div>
      </div>
      </div>
    </div>
  </div>
    <!-- nav tab verticall end -->
<!-- search start -->
<div class="columns">
  <div class="column">
<nav class="panel">
    <p class="panel-heading">
      repositories
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-small" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active">all</a>
      <a>public</a>
      <a>private</a>
      <a>sources</a>
      <a>forks</a>
    </p>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      bulma
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      marksheet
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      minireset.css
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      jgthms.github.io
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-code-branch" aria-hidden="true"></i>
      </span>
      daniellowtw/infboard
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-code-branch" aria-hidden="true"></i>
      </span>
      mojs
    </a>
    <label class="panel-block">
      <input type="checkbox">
      remember me
    </label>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">
        reset all filters
      </button>
    </div>
  </nav>
</div>
<!-- second start -->
<div class="column">
  <!-- modal start -->
<button class="button is-primary is-large modal-button is-active" 
data-target="modal" aria-haspopup="true" id="showModal">Launch example modal</button>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Any other Bulma elements you want -->
      <p class="has-text-white has-background-primary">this is modal poup</p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
<!-- modal end -->
  </div>
  <!-- second end -->
</div>
<!-- search end -->

<div class="columns">
    <div class="column">
  <p class="notification is-danger">second column</p>
  </div>
  <div class="column">
<p class="notification is-warning">third column</p>
  </div>
  <div class="column">
<p class="notification is-info">fourth column</p>
  </div>
</div>
<!-- cards block start -->
<div class="container">
  <h1 class="has-text-centered has-text-weight-bold is-size-1">Cards</h1>
<div class="columns">
        <!-- card one start -->
    <div class="column">
<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Component
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">        
<figure class="is-marginless">
<img src="assets/images/proejctbanner.png" class="image is-96x96"/>
</figure>
        <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Save</a>
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item">Delete</a>
    </footer>
  </div>
</div>
  <!-- card one end -->
   <!-- card two start -->
   <div class="column">
<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Component
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">        
<figure class="is-marginless">
<img src="assets/images/proejctbanner.png" class="image is-96x96"/>
</figure>
        <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Save</a>
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item">Delete</a>
    </footer>
  </div> 
</div>
  <!-- card two end -->
   <!-- card three start -->
   <div class="column">
      <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Component
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">        
      <figure class="is-marginless">
      <img src="assets/images/proejctbanner.png" class="image is-96x96"/>
      </figure>
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
          </footer>
        </div> 
      </div>
        <!-- card three end -->
         <!-- card four start -->
   <div class="column">
      <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Component
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">        
      <figure class="is-marginless">
      <img src="assets/images/proejctbanner.png" class="image is-96x96"/>
      </figure>
              <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
          </footer>
        </div> 
      </div>
        <!-- card four end -->
</div>
</div>
<!-- cards block start -->
