.bg_color 
{
 
        background: antiquewhite !important;
    background-image: url(/src/assets/images/grey.png);
}

h3
{
    color:#ff5601;
}
#tab-content .tabscustom {
    display: none;
  }
  
  #tab-content .tabscustom.is-active {
    display: block;
  }
  