/* Sticky footer styles
-------------------------------------------------- */
/* desktop start */
html {
position: relative;
min-height: 100%;
}
@font-face {
  src: url('../fonts/black.ttf') ;
  font-family: 'black';
}  
@font-face {
 font-family: 'medium';
  src: url('../fonts/medium.ttf') format('truetype');
} 
@font-face {
 font-family: 'Avenir-Book-01';
  src: url('../fonts/Avenir-Book-01.ttf') format('truetype');
} 
@font-face {
 font-family: 'Avenir-Light-07';
  src: url('../fonts/Avenir-Light-07.ttf') format('truetype');
} 
body {
/* Margin bottom by footer height */
  /*font-family: 'avenir';
*/
  font-family: 'Avenir-Book-01';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 30px;
line-height: 30px;
background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
padding: 18px 15px 0;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}
/* banner start */
.carousel-caption 
{
      top: 190px;
      left: 9%;
}
.btn_banner {
   font-family: 'heavy';
    font-weight: normal;
  font-style: normal;
}
@font-face {
 font-family: 'heavy';
  src: url('../fonts/heavy.ttf') format('truetype');
} 
.btn_banner svg 
{
    width: 26px;
    height: 18px;
    vertical-align: middle;
}
    .btn_banner, .btn_banner:hover, .btn_banner:focus
    {
          border-radius: 6px;
    margin-top: 3%;
    background-color: #ff5601;
        font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #ff5601;
    }
  .banner_text 
  {
    font-size: 35px;
      font-family: 'bold_font';
  }
@font-face {
  font-family: 'bold_font';
  src: url('../fonts/bold_font.ttf') format('truetype');
}
/* banner end */
code {
font-size: 80%;
}
/* menu */
.navbar 
{
      padding: 0px;
}
.menu 
{
    width: 55px;
}  

.navbar-dark .navbar-brand {
color: #ff4d00;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent;
}
/* font */
.font_12
{
font-size: 12px;
}
/* overlay */
.view {
position: relative;
overflow: hidden;
cursor: pointer;
}
.view img, .view video {
position: relative;
display: block;
}
.overlay .mask {
opacity: 0;
-webkit-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.view .mask {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow: hidden;
width: 100%;
height: 100%;
background-attachment: fixed;
}
.flex-center {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
height: 100%;
}
.flex-center p {
margin: 0;
color: #fff;
font-size: 14px;
font-weight: bold;
    text-transform: uppercase;
        letter-spacing: 2px;
}
.overlay .mask:hover {
opacity: 1;
}
.rgba-red-light, .rgba-red-light:after {
/*background-color: rgba(244,67,54,.3);*/
background-color: #ff5601;
}
.zoom img, .zoom video {
-webkit-transition: all .2s linear;
-o-transition: all .2s linear;
transition: all .2s linear;
}
.zoom:hover img, .zoom:hover video {
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}
/* brand color */
.hover_brand_color:hover
{
color: #ff5601;
}
.brand_color
{
color: #ff5601;
}
.font_size13
{
font-size: 13px;
}
.start_project
{
margin-top: 5%;
margin-bottom: 5%;
}
.start_project a:hover
{
color: #ff5601;
}
.project_block .card-body
{
    padding: 0px;
}
.project_block .card:nth-child(odd)
{
background-color: #cfcdcd;
border: none;
width: 100%;
}
.project_block .card:nth-child(even)
{
background-color: #e5e5e5;
border: none;
width: 100%;
}
/* svg */
.back_icon
{
     width: 16px;
    margin-right: 0.3rem;
        vertical-align: sub;
}
.next_icon
{
      width: 16px;
    margin-left: 0.3rem;
        vertical-align: sub;
}
.plus_icon
{
      width: 12px;
    margin-left: 0.3rem;
}
/* pre next */
.pre_next span 
{
  font-family: 'heavy';
    font-size: 18px;
  }
.pre_next
{
background-color: #3a0139;
padding: 28px 22px;
}
.project_desc .card-title
{
font-weight: bold;
font-family:'black';
}
.project_desc p
{
font-size: 13px;
margin-bottom: 4px;
}
.project_desc
{
background-color: #3a0139;
color: #fff;
padding: 8px 8px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 98%;
}
.project_img img
{
width: 100%;
height: 150px;
}
.pos_rel
{
position: relative;
}
.project_img:after {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 0;
background-color: rgba(0,0,0,0.5);
}
/* about page */

.brand_bgcolor
{ background-color: #3a0139;
}
.start_project_btn
{
    font-family: 'heavy';
     font-size: 18px;
}
.hello_email
{
  font-size: 18px;
}
.email_us
{
  font-family: 'heavy';
}
.joing_team p{
font-size: 26px;
margin-bottom: 0px;
}
.joing_team
{
    padding: 65px 35px;
color: #fff;
    margin-top: 1rem;
}
.joing_team h4 
{
font-weight: bold;
font-size: 20px;
margin-bottom: 3%;
    font-family: 'black';
}
.our_culture h4 
{
font-weight: bold;
font-size: 18px;
     font-family: 'black';
}
.browse p
{
/*font-family: 'heavy';*/
  font-size: 14px;
    font-weight: bold;
}
.browse p img 
{
      width: 14px;
}
.our_culture h2
{
font-weight: bold;
font-size: 2rem;
margin-bottom: 5%;
    font-family: 'black';
}
.our_culture p
{
font-size: 16px;
margin-bottom: 10px;
}
.our_culture p a:hover
{
color: #ff5601;
}

/* about end */
/* job start */
.jobs_heading
{
font-weight: bold;
font-family: 'black';
}
.jobs_card h4
{
font-weight: bold;
    font-family: 'black';
}
.jobs_card 
{
background-color: transparent;
border-radius: 0px;
border: none;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
}
.jobs_card .card-body
{

padding: 20px 2px;
}
.jobs_card p a:hover
{
color: #ff5601;
}
.jobs_card p a 
{/*
      font-family: 'heavy';*/
}
.apply_now
{
      font-family: 'heavy';
    font-size: 0.99rem;
}
.jobs_title
{
font-weight: bold;
margin-bottom: 5%;
font-family: 'black';
}
.jobs_card p
{
margin-bottom: 0px;   }
.job_content p
{
    font-size: 1rem;
 /*   font-family: 'heavy';*/

}
/* job end */
/* policy start */
.policy_heading
{
font-weight: bold;
font-size: 2rem;
font-family:'black';
}
.policy_content p
{
font-size: 14px;
margin-top: 3%;
}
.policy_list li::before {
content: "\2022";
color: #ff5601;
font-weight: bold;
display: inline-block; 
width: 1em;
margin-left: -1em;
}
.policy_list

{list-style: none;
padding-left: 12px;
font-size: 13px;

margin-bottom: 8px;
}
.policy_block
{

margin-bottom: 5%;
}
.cookies_block h2
{
font-weight: bold;
margin-bottom: 3%;
margin-top: 4%;
font-size: 1.7rem;
font-family:'black' ;
}
.cookies_block h1
{
font-weight: bold;
margin-bottom: 0%;
margin-top: 2%;
font-size: 2rem;
font-family:'black';
}
.cookies_block p
{
font-size: 13px;
}
/* policy end */
/* apply start */
  .modal_close_icon_apply
  {
    width: 4%;
    float: right;
    padding: 0;
    margin: 0 0;
  }
.apply_heading
{
font-weight: bold;
font-size: 2rem;
font-family: 'black';
}
.apply_jobmodal 
{
color: #fff;
}
.apply_jobmodal .modal-header 
{
border-bottom: 0px solid #e9ecef;
}
.apply_jobmodal .modal-dialog
{
max-width: 800px;
}
.apply_list
{
list-style: none;
font-size: 13px;
margin-bottom: 8px;
}
.apply_list li::before {
content: "\2022";
color: #ff5601;
font-weight: bold;
display: inline-block;
width: 1em;
margin-left: -1em;
}
.job_profile
{
font-size: 16px;
font-weight: bold; 

margin-top: 3%;
}
.job_desc
{
    font-family: 'medium';
    font-size: 12px;
}
.apply_jobmodal p
{
font-size: 13px;
}
.back_btn
{   font-family: 'heavy';
    font-size: 18px;}
    .back_btn a img
    {
      vertical-align: middle;
    }
.apply_formtitle
{  margin-top: 8%;
    margin-bottom: 3%;
    font-family: 'black';
    font-size: 2rem;
}
.apply_job_form .form-group input,  .apply_job_form .form-group textarea
{
background-color: transparent;
border: none;
border-bottom: 1px solid #fff;
border-radius: 0px;
color: #fff;
padding: 5px 0px;
}
.apply_job_form .form-group  input:focus,  .apply_job_form .form-group textarea:focus 
{
background-color: transparent;
border: none;
border-bottom: 1px solid #fff;
border-radius: 0px;
color: #fff;
padding: 5px 0px;
box-shadow: none;
outline-offset: 0px;
box-shadow: none;
}
.apply_job_form label
{
font-size: 13px;
color: #ff5601;
font-family: 'medium';
}
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.upload {

border: 0px solid gray;
color: #ff5601;
background-color: transparent;
padding: 0px;
font-size: 10px;
font-weight: bold;
text-align: right;
float: right;
border-bottom: 1px solid #fff;
border-radius: 0px;
width: 340px;
margin-top: 19px;
}

.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.apply_btn, .apply_btn:hover
{
background-color: transparent;
border: none;
color: #ff5601;
font-weight: bold;
    font-family: 'heavy';
    font-size: 1.2rem;
}
.close
{
opacity: 1;
}
.apply_jobmodal .modal-body
{
padding: 3rem;
}
/* apply end */
/* request form start */
.request_meeting_form
{
      background-color: #fbfbfb;
    padding: 4rem 4rem;
}
.request_metting_form .form-group input, .request_metting_form .form-group textarea
{
background-color: #fbfbfb;
border: none;
border-bottom: 1px solid #cac6c6;
border-radius: 0px;
color: #000;
padding: 5px 0px;
}
.request_metting_form .form-group  input:focus,  .request_metting_form .form-group textarea:focus 
{
background-color: transparent;
border: none;
border-bottom: 1px solid #cac6c6;
border-radius: 0px;
color: #000;
padding: 5px 0px;
box-shadow: none;
outline-offset: 0px;
box-shadow: none;
}
.request_metting_form label
{
color: #000;
font-weight: bold;
 font-family: 'medium';
}
.request_metting_form
{
font-size: 14px;
margin-top: 3rem;
}
#request_meeting_form
{
  background-color: #fbfbfb;
      padding: 1rem 3rem;
}
.content_home
{
     background-color: #fbfbfb;
}
.request_btn, .request_btn:hover
{
background-color: transparent;
border: none;
color: #ff5601;
font-weight: bold;
 font-family:'heavy';
    font-size: 1.2rem;
}
/* request form end */
/* start project start */
.font_10
{
font-size: 10px;
}
.start_projectmodal .close
{

}
.start_projectmodal .modal-header {
border-bottom: 0px solid #e9ecef;
}
.modal_close_icon
{
     width: 4%;
    float: right;
    padding: 5px;
    margin: 7px 7px;
}
.start_projectmodal .modal-body {
     padding: 0rem 4rem;
}
.startproject_formtitle {
margin-top: 3%;
margin-bottom: 3%;
font-weight: bold;
}
.start_projectmodal p {
font-size: 13px;
color: #fff;
}
.start_project_form .form-group input, .start_project_form .form-group textarea
{
background-color: transparent;
border: none;
border-bottom: 1px solid #fff;
border-radius: 0px;
color: #fff;
padding: 5px 0px;
}
.start_project_form .form-group  input:focus,  .start_project_form .form-group textarea:focus 
{
background-color: transparent;
border: none;
border-bottom: 1px solid #cac6c6;
border-radius: 0px;
color: #000;
padding: 5px 0px;
box-shadow: none;
outline-offset: 0px;
box-shadow: none;
}
.start_project_form label {
font-size: 13px;
color: #ff5601;
}
.start_projectmodal .modal-dialog {
max-width: 800px;
}
/* start project end */
/* index start */
.carousel-item img
{
width: 100%;
}
.carousel-indicators
{
bottom: 30px;
}
.work_block h3
{
font-weight: bold;
margin-bottom: 4%;
    text-transform: uppercase;
      font-family:'black';
}
.work_block_img .col-md-4
{
padding: 0px;
}
.work_block
{
margin-top: 5%;
}
.work_block_img .col-md-3
{
padding: 0px;
}
.viewall
{
margin-top: 5%;
margin-bottom: 5%;
font-family: 'heavy';
}
.viewall p
{
  font-size: 1.2rem;
}
.viewall a:hover
{
color: #ff5601;
}
.weare
{
   /* padding: 80px;*/
       padding: 70px 0px;
    color: #fff;
    margin: 0 auto;
}
.weare p
{
      font-size: 24px;
      font-family: 'Avenir-Book-01';
}
.weare h4
{
font-weight: bold;   font-family: 'black';  margin-bottom: 3%;
}
.know_more
{
   font-family: 'heavy';
       font-size: 1.2rem;
}
.sophis p
{   font-size: 20px;
    font-family: 'Avenir-Book-01';    font-weight: 600;}
.service
{     padding-top: 8%;
     padding-bottom: 2%;
}
.service h4,h2
{
    font-family: 'black';
}
 .service_mobile
  {
    display: none;
  }
.contact .request_metting_form
{
    margin-top: 6%;
}
.contact h4 
{ font-family:'black';}
.contact_form
{
      margin-top: 3rem;
}
.contact_form .form-group input, .contact_form .form-group textarea {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #cac6c6;
    border-radius: 0px;
    color: #000;
    padding: 5px 0px;
}
.contact_form .form-group  input:focus,  .contact_form .form-group textarea:focus 
{
background-color: transparent;
border: none;
border-bottom: 1px solid #cac6c6;
border-radius: 0px;
color: #000;
padding: 5px 0px;
box-shadow: none;
outline-offset: 0px;
box-shadow: none;
}
.contact_form label
{
color: #000;
font-weight: bold;
  font-family:'medium';
}
  .looking
  {
       margin-top: 6%;
       margin-bottom: 4rem;
  }
      .looking h2 
      {
          margin-bottom: 4%; 
      }
        .looking p{
          margin-bottom: 0px;

        }
          .looking p:first-child{
     font-family: 'medium';
         font-size: 16px;
          }
          .looking p:nth-child(2){
     font-family: 'medium';
         font-size: 18px;
          }
        .looking .col-md-4, .looking .col-md-8
        {
            margin-bottom: 3%;
        }
        .see_job_opp:hover
        {
          color: #ff5601;
        }
/* index end */
/* menu start */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
  background-color: #3a0139;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    height: 491px;
    max-width: 200%;
}
.sidenav .closebtn {
    position: absolute;
      top: 18px;
   left: -13px;
        width: 100%;
}
.cancel_btn
{
      width: 8%;
    float: right;
}
.closebtn:hover 
{
      color: #ff5601;
      text-decoration: none;
}

.menu_space li
{
        margin-left: 22px;
}
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.social_network li, .social_network li a
{
list-style: none;
color: #fff;
text-decoration: none;
text-transform: uppercase;
    font-size: 10.9px;
    line-height: 25px;
        letter-spacing: 1px;
     font-family: 'medium';
}
  .social_network
  {
        margin-top: 1.6rem;
  }
  .menu_space .nav-link {
    color: #fff !important;
    font-weight: bold;
          font-size: 20px;
    padding: 0.5rem 1rem;
     font-family: 'heavy';
}
  .menu_space li.active a
  {
    color: #ff5601!important;
  }
  .mobilemenu
  {
    width: 18%;
  }
  .mobilemenuzro
  {
    width: 0;
  }
  .text
  {
    display: none;
  }
/* menu end */
/* footer start */
.footer .text-black 
{
       font-family: 'medium';
}
.footer .text-muted 
{
       font-family: 'Avenir-Light-07';
 
}
.footer .text-muted  a
{      color: #a0a0a0;

}
/* footer end */
/* desktop end */
/* desktop view start */
@media(min-width:768px)
{
  /* about */
  .about_width
{    max-width: 950px;}
  /* policy start */
  .cookies_block
  {
        margin-bottom: 3rem;
  }
  /* policy end */
  .apply_jobmodal .modal-body {
    padding: 0rem 2rem;
}
  .top_space_block
{
      margin-top: 4rem;
}
 /* .work_block_img
{    padding-left: 12px;
    padding-right: 12px;
  }*/
  .desktop_view
  {
    background-color: #fbfbfb;
  }
  .flex_container1
{
display: flex;
flex-wrap: nowrap;
margin-top: 4%;
}
.service_flex1 img 
{
margin: 0 auto;
display: block;
}
.service_flex1 p{
    font-size: 12px;
text-align: center;
margin-top: 1rem;
    font-weight: bold;
     font-family: 'medium';
     letter-spacing: 0.4px;
}
.service_flex1
{
margin-right: 5%;
width: 15%;
}
.flex_container2
{
display: flex;
flex-wrap: nowrap;
    margin-top: 4%;
    margin-bottom: 4%;
}
.service_flex2 img 
{
margin: 0 auto;
display: block;
}
.service_flex2 p{
font-size:12px;
text-align: center;
margin-top: 1rem;
   font-weight: bold;
    font-family: 'medium';
    letter-spacing: 0.4px;
}
.service_flex2
{
margin-right: 5%;
width: 15%;
}
}
@media(min-width:1024px) and (max-width:1025px)
{
.carousel-caption {
    top: 80px;
  }
}
/* desktop view end */
/* mobile start */
@media(max-width:767px) and (min-width:320px)
{
  .menu {
    width: 47px;
}
  .project_page {
    padding: 0 !important;
}
.project_desc
{
      top: 105%;
}
  .upload
  {
        width: 234px;
  }
  .modal_close_icon {
    width: 7%;
  }
  .project_block .card-body
  {
        padding: 0px;
  }

  .project_desc .card-title {
    font-size: 12px;
}
.project_desc p {
    font-size: 12px;
}
  .start_projectmodal .modal-body {
    padding: 1rem 1rem;
}
  /* policy start */
  .cookies_block
  {
        margin-bottom: 3rem;
  }
  /* policy end */
  /* apply start */
  .modal_close_icon_apply
  {
    width: 10%;
    float: right;
    padding: 0;
    margin: 0 0;
  }
  .apply_jobmodal .modal-body {
    padding: 1rem;
}
  /* apply end */
  /* overlay mobile start */
  .text
  {
    display: block;
  }
  .text_height_full .text 
  {
    display: none;
  }
  .text_height_full
  {
    height: 0;
      transition: 0.5s;
  }
  .text_height
  {
    height: 100%;
      transition: 0.5s;
  }
  .text 
  {
     position: absolute;
    bottom: 0%;
    left: 45%;
    font-size: 12px;
    color: #797777;
/*    transform: translate(-50%,-1180%);
    -ms-transform: translate(-50%,-1180%);*/
    text-transform: uppercase;
        -webkit-animation:  MoveUpDown 0.9s linear infinite;
    -moz-animation: MoveUpDown 0.9s linear infinite;
      animation: MoveUpDown 2s linear infinite;
  }
  

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
/*    height: 100%;*/
       top: 0px;
    background-color: #000;
    z-index: 222;
    cursor: pointer;
    color: red;
    text-align: center;
}
 /* overlay mobile end */
.top_space_block
{
      margin-top: 2rem;
}
.sidenav .closebtn {
    left: 0;
        margin: 8px 0px;
    padding-right: 10%;
}
  .sidenav {
    height: 100% !important;
        padding-top: 70px;
  }
  .mobilemenu
  {
    width: 100%;
  }
  .mobilemenuzro
  {
    width: 0;
  }
  .content_home
  {
    clear: both;
  }
  .service_mobile
  {
    display: block;
  }
  .desktop_view
  {
     display: none;
  }
  .menu_title
  {
        font-size: 18px;
  }
  .flex_container1
  {
        margin-top: 12%;
    margin-bottom: 12%;
  }
  .flex_container2
  {
    width: 50%;
    float: left;
        margin-top: 12%;
    margin-bottom: 12%;
  }
  .service_flex1
  {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    display: block;
        margin-bottom: 16%;
            width: 48%;
    float: left;
  }
   .service_flex1 img 
  {
       width: 50%;
    margin: 0 auto;
    display: block;
  }
  .service_flex1 p
  {
    font-size: 12px;
        white-space: nowrap;
    word-wrap: break-word;
        text-align: center;
            margin-top: 12%;
  }
  .service_flex2
  {
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    display: block;
        margin-bottom: 16%;
  }
  .service_flex2 img 
  {
       width: 50%;
    margin: 0 auto;
    display: block;
  }
  .service_flex2 p
  {
    font-size: 12px;
        white-space: nowrap;
    word-wrap: break-word;
        text-align: center;
  }
  .service h4
  {
        margin-top: 12%;
            font-size: 18px;
  }
  .service h2 
  {
        font-size: 24px;
  }
.work_block_img .col-md-4
{
padding-left: 12px;
padding-right: 12px;
}
}
/* mobile end */
body.bg_color 
{
 
        background: antiquewhite !important;
    background-image: url(/src/assets/images/grey.png);
}