/* You can add global styles to this file, and also import other style files */
body.bg_color 
{
 
        background: rgba(247, 246, 245, 0.98);
    background-image: url(../assets/images/grey.png);
    background-position: center;
    background-size: contain;
}