

<h3>
  home works!
  <h1>refer for banners 
      <a href="https://wikiki.github.io/components/carousel/">go link</a>
    </h1>
  <a class="button is-primary">
    Button
  </a>
  <a href="https://dansup.github.io/bulma-templates/">REFer this templates</a>
  <a href="https://wikiki.github.io/components/carousel/">Carsoule banenr</a>
  <a href="https://stackoverflow.com/questions/6463486/jquery-drop-down-menu-closing-by-clicking-outside">
  Menu fo mobile 
  </a>
  <a href="https://jsfiddle.net/vgjddv6u/">
  Seperate menu  </a>
  <a href="https://codepen.io/dhisaran/pen/RvZMOx">
  Bulma Menu examples
  </a>
</h3>

<!-- routes will be rendered here -->

